.header{
  padding: 5px 20px;
  background: black;
}

.title{
  color: aliceblue;
  text-decoration: none;
}

.login,.register{
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
}

.user-name,.logout, .new-post{
  float: right;
  color: aliceblue;
  padding-top: 10px;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.spacer {
  flex: 1 1 auto;
}
