<mat-toolbar class="header">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThwie-fFbiGCuFgRxD4nvn1uJzi7bddy_R8g&usqp=CAU" width="42" height="42"/>
  </div>
  <div>
    <a routerLink="" style="color:black;">Fool Programmer</a>
  </div>
  <span class="spacer"></span>
  <div>
    <button mat-button style="color: black;" routerLink="/home">Home</button>
  </div>
  <div>
      <button mat-button [matMenuTriggerFor]="belowMenu" style="color:black;">Welcome Fool's</button>
      <mat-menu #belowMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/add-post">Add Post</button>
        <button mat-menu-item routerLink="/home">Will add Mode Services</button>
      </mat-menu>
  </div>
</mat-toolbar>
