:host{
    display : block;
    margin-top: 1rem;
  }

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-basis: 0;
  }

.postclass{
  margin-left: 100px;
  margin-right: 600px;
  display: inline-block;
  white-space: nowrap;
}


mat-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

