:host{
    display : block;
    margin-top: 1rem;
  }

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-basis: 0;
  }

.postclass{
  margin-left: 100px;
  margin-right: 400px;
  width: auto;
  white-space: nowrap;
}

mat-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  white-space: nowrap;
}

.mat-button {
  height:33px !important;
  float:right;
  color: aliceblue;
  background-color: black;
}

mat-card-content {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
