<div class="postclass">
  <mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="mat-header-image-covid"></div>
      <mat-card-title>Covid 19</mat-card-title>
      <mat-card-subtitle>get details by country..</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/svg/covid19.svg" width="500" height="200"/>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="open">
      <button mat-button routerLink="/covid19">Open</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="mat-header-image-weather"></div>
      <mat-card-title>Global weather</mat-card-title>
      <mat-card-subtitle>get weather details by cities..</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/svg/weather.svg" width="500" height="200"/>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="open">
      <button mat-button routerLink="/weather-api">Open</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="mat-header-image-post"></div>
      <mat-card-title>Blog post</mat-card-title>
      <mat-card-subtitle>read and write posts</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/svg/add_content.svg" width="500" height="200"/>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="open">
      <button mat-button routerLink="/posttags">Open</button>
    </mat-card-actions>
  </mat-card>

</div>
