:host {
    display : block;
    margin-top: 3rem;
}

.weatherclass {
    margin-left: 100px;
    margin-right: 500px;
}

.mat-card {
    max-width: 350px;
    margin-left: 50px;
    float: left;
}

.mat-result-card {
  width: 580px;
  height: 540px;
}

table {
  width: 100%;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    margin-right: auto;
    font-weight: 400;
}

.btn-primary {
  background-color: black;
}
